Question 1 : Create one variable containing following type of data: 
string 
list
float
tuple

In [15]:
#Solution1
a = "AKSHAY" , ["Data Scientist", "Data Engineer", "Data Analyst"] , 2.0 , ("Akshay",)

In [17]:
#Data
a

('AKSHAY',
 ['Data Scientist', 'Data Engineer', 'Data Analyst'],
 2.0,
 ('Akshay',))

Question 2: What will be the data type of the following variables:
var1 = ''
var2 = '[DS, ML, PYTHON]'
var3 = ['DS', 'ML', 'PYTHON']
var4 = 1.

In [18]:
var1 = ''

In [19]:
type(var1)

str

In [20]:
var2 = '[DS, ML, PYTHON]'

In [21]:
type(var2)

str

In [22]:
var3 = ['DS', 'ML', 'PYTHON']

In [23]:
type(var3)

list

In [24]:
var4 = 1.

In [25]:
type(var4)

float

Question 3: Explain the use of following operators using an example:
/
%
//
**

#SOLUTUON:
/ = This operator is divident operator. it is used for divide the given variable.
% = This is modulous operator. it give the remainder of given two variable. 
// = This is floor division operator. it given the quotient of given two variable.
** = This is exponential operator. it give the multiple of the given two variable.

In [26]:
#FOR / OPERATOR
a = 10
b = 2
c = a/b
print(c)

5.0

In [28]:
#FOR % OPERATOR
a = 10
b = 2
c = a%b
print(c)

0

In [29]:
#FOR // OPERATOR
a = 10
b = 2
c = a//b
print(c)

5

In [30]:
#FOR ** OPERATOR
a = 10
b = 2
c = a**b
print(c)

100

Question 4: Create a list of length 10 that containing different data types. using for loop to print its elements and data types.

In [31]:
my_list = [2515, "Akshay", "I'M Data Scientist", 2.0 , True, ["DS" , "ML"], ("AKSHAY",), {"DATA STRUCTURE"}, 34454.56, False]

In [35]:
for i in my_list:
    print(i, 'Data type:',type(i))

2515 Data type: <class 'int'>
Akshay Data type: <class 'str'>
I'M Data Scientist Data type: <class 'str'>
2.0 Data type: <class 'float'>
True Data type: <class 'bool'>
['DS', 'ML'] Data type: <class 'list'>
('AKSHAY',) Data type: <class 'tuple'>
{'DATA STRUCTURE'} Data type: <class 'set'>
34454.56 Data type: <class 'float'>
False Data type: <class 'bool'>

Question 5: Using while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
#SOLUTUION: In this statement, we can verify that number A is purely divisible by number B or not then it can be still divisible until a specified condition is true or false that we given in the while loop.

In [41]:
i = 0
while(i<=10):
    print("yes number A is purely divisible by number B")
    i = i+1
else:
    print("No number A is not Purely divisible by number B")

yes number A is purely divisible by number B
yes number A is purely divisible by number B
yes number A is purely divisible by number B
yes number A is purely divisible by number B
yes number A is purely divisible by number B
yes number A is purely divisible by number B
yes number A is purely divisible by number B
yes number A is purely divisible by number B
yes number A is purely divisible by number B
yes number A is purely divisible by number B
yes number A is purely divisible by number B
No number A is not Purely divisible by number B

Question 6: Create a list containing 25 int type data. Using for loop and if else condition print if element is divisible by 3 or not?

In [54]:
list1 = list(range(1, 26))

In [55]:
for i in list1:
    if i%3==0:
        print(i, "number is divisible by 3")
    else:
        print(i, "number is not divisible by 3")

1 number is not divisible by 3
2 number is not divisible by 3
3 number is divisible by 3
4 number is not divisible by 3
5 number is not divisible by 3
6 number is divisible by 3
7 number is not divisible by 3
8 number is not divisible by 3
9 number is divisible by 3
10 number is not divisible by 3
11 number is not divisible by 3
12 number is divisible by 3
13 number is not divisible by 3
14 number is not divisible by 3
15 number is divisible by 3
16 number is not divisible by 3
17 number is not divisible by 3
18 number is divisible by 3
19 number is not divisible by 3
20 number is not divisible by 3
21 number is divisible by 3
22 number is not divisible by 3
23 number is not divisible by 3
24 number is divisible by 3
25 number is not divisible by 3

Question 7: What do you understand by mutable and immutable data types? Give examples for both data types?

#SOLUTION: 
MUTABLE DATA TYPE :  This data types means we can change or add something new in given declared variable or data type via item assignemnt like list, set, dictionaries.
IMMUTABLE DATA TYPE: This data types means we can not change or add something new in given declared variable or data type via item assignment like int, string, tuple.

In [59]:
#EXAMPLE
#STRING immutable data type
string1 = "Akshay"
string1[4] = g

NameError: name 'g' is not defined

In [60]:
#LIST  mutable data type
my_list1 = ['AKSHAY', 67]
my_list1[1] = 786

In [61]:
print(my_list1)

['AKSHAY', 786]